/*  Modern CSS reset - https://piccalil.li/blog/a-modern-css-reset/ */
/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
}
/* Source: https://github.com/h5bp/html5-boilerplate/blob/main/dist/css/style.css */
/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/**
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/**
 * DISCLAIMER!
 * I had added some changes based on my preference.
 * This is not the original styling!
 */
/**
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 */
::selection {
  text-shadow: none;
}

/**
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/**
 * Remove default fieldset styles.
 */
fieldset {
  margin: 0;
  border: 0;
  padding: 0;
}

/**
 * Don't allow horizontal resizing of textareas.
 */
textarea {
  resize: vertical;
}

:root {
  --primary-color-100: hsl(228deg 100% 75%);
  --primary-color-200: hsl(228deg 100% 66%);
  --primary-color-300: hsl(227deg 14% 52%);
  --primary-color-400: hsl(227deg 22% 26%);
  --primary-color-500: hsl(228deg 22% 19%);
  --error-color: hsl(0deg 83% 65%);
  --white-100: hsl(0deg 0% 100%);
  --white-200: hsl(0deg 0% 98%);
  --landmarks-font-size: clamp(1rem, 0.95rem + 0.26vw, 1.13rem);
  --title-font-size: clamp(2.19rem, 1.66rem + 2.66vw, 3.5rem);
  --container-width: min(100vw - 10%, 69.375rem);
  --padding-header-small: clamp(2.875rem, 6%, 5.0625rem);
  --padding-header-medium: clamp(5rem, 12%, 6.875rem);
  --padding-card: clamp(2.5rem, 2.3rem + 1.01vw, 3rem);
  --transition: 150ms ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 1ms !important;
    animation-delay: -1ms !important;
    animation-iteration-count: 1 !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
  }
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

::selection {
  background-color: rgb(22, 95, 204);
  color: rgb(242, 242, 242);
}

/**
 * Screen Reader Class
 * 
 * To hide content visually.
 *
 * For more information: https://gist.github.com/ffoodd/000b59f431e3e64e4ce1a24d5bb36034
 */
.sr-only {
  position: absolute !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  white-space: nowrap !important;
}

body {
  background-color: var(--white-200);
}

header,
main,
footer {
  color: var(--primary-color-300);
  font-size: var(--landmarks-font-size);
  font-family: "Kumbh Sans", sans-serif;
}

h1,
h2,
h3 {
  color: var(--primary-color-400);
}

h1 {
  font-size: var(--title-font-size);
  line-height: 1.15;
}

p {
  font-size: 1em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
 * Set font-size on Form Elements for a 
 * Better Mobile Experience
 *
 * To avoid mobile browsers (iOS Safari,
 * et al.) from zooming in on HTML form 
 * elements when a <select> drop-down is
 * tapped, add font-size to the selector
 * rule.
 *
 * Source: https://github.com/AllThingsSmitty/css-protips#set-font-size-on-form-elements-for-a-better-mobile-experience
 */
input[type="text"],
input[type="number"],
select,
textarea {
  font-size: 1rem;
}

/**
 * 1. A reset of styles, including removing the default dropdown arrow
 * 2. Additional resets for further consistency
 *
 * Source: https://moderncss.dev/custom-select-styles-with-pure-css/
 */
select {
  appearance: none; /* 1 */
  cursor: inherit; /* 2 */
  margin: 0; /* 2 */
  border: 0; /* 2 */
  background-color: transparent; /* 2 */
  padding: 0 1em 0 0; /* 2 */
  width: 100%; /* 2 */
  font-size: inherit; /* 2 */
  line-height: inherit; /* 2 */
  font-family: inherit; /* 2 */
}

/** 
 * Using currentColor to inherit the 
 * color value 
 */
svg path {
  fill: currentColor;
}

.hidden {
  visibility: hidden;
  width: 0.0625rem;
  height: 0;
}

/**
 * Make sure when the user disable
 * JavaScript the content is hidden.
 */
.no-js header,
.no-js main,
.no-js footer {
  display: none !important;
}

.button {
  cursor: pointer;
  border: 0;
  border-radius: 1.75em;
  padding: 0.875rem 2.625rem;
  font-weight: 700;
  font-size: 1rem;
  text-decoration: none;
}

.button--inline-block {
  display: inline-block;
}

.button--block {
  display: block;
  width: 100%;
}

.button--blue {
  background-color: var(--primary-color-200);
  color: var(--white-100);
}
.button--blue:hover,
.button--blue:active {
  background-color: var(--primary-color-100);
}
@media screen and (prefers-reduced-motion: no-preference) {
  .button--blue {
    transition: background-color var(--transition);
  }
}

.button--light-blue {
  background-color: hsla(228deg, 100%, 66%, 0.15);
  color: var(--primary-color-200);
}
.button--light-blue:hover,
.button--light-blue:active {
  background-color: hsla(228deg, 100%, 66%, 0.25);
}
@media screen and (prefers-reduced-motion: no-preference) {
  .button--light-blue {
    transition: background-color var(--transition);
  }
}

.button--white {
  background-color: var(--white-100);
  color: var(--primary-color-200);
}
.button--white:hover,
.button--white:active {
  color: var(--primary-color-100);
}
@media screen and (prefers-reduced-motion: no-preference) {
  .button--white {
    transition: color var(--transition);
  }
}

.button--box-shadow {
  box-shadow: 0 1.5625rem 1.5625rem -0.625rem hsla(227deg, 52%, 50%, 0.247);
}

.timer--dark {
  color: var(--white-100);
}

.timer--light {
  color: var(--primary-color-200);
}

.timer__title {
  margin-block-end: 1rem;
  color: inherit;
  font-size: 1rem;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}

.timer__title--dark {
  color: var(--white-100);
}

.timer__title--light {
  color: var(--primary-color-400);
}

.timer__date {
  color: var(--primary-color-200);
}

.timer__container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/**
 * 1. Prevent the card from resizing.
 *    The card is resizing because the width of each number
 *    is different.
 */
.timer__card {
  border-radius: 0.8125rem;
  padding: 1rem;
  min-width: clamp(3.75rem, 2.74rem + 5.06vw, 6.25rem); /* 1 */
  max-width: clamp(3.75rem, 2.74rem + 5.06vw, 6.25rem); /* 1 */
  text-align: center;
}

.timer__card--dark {
  background-color: var(--primary-color-400);
}

.timer__card--light {
  background-color: hsla(228deg, 100%, 66%, 0.1);
}

.timer__number {
  font-weight: 700;
  font-size: clamp(1.75rem, 1.04rem + 3.54vw, 3.5rem);
}

.timer__category {
  display: block;
  opacity: 0.5;
  font-weight: 700;
  font-size: clamp(0.75rem, 0.65rem + 0.51vw, 1rem);
}

.timer__category--light {
  color: var(--primary-color-400);
}

.timer__category--dark {
  color: var(--white-100);
}

.form {
  box-shadow: 0 3.125rem 3.125rem -1.5625rem rgba(75, 92, 154, 0.24);
  border-radius: 0.8125rem;
  background-color: var(--white-100);
  padding-inline: clamp(1.5rem, 0.25rem + 5.34vw, 2.81rem);
  padding-block: clamp(1.5rem, 0.25rem + 5.34vw, 2.81rem);
  width: 100%;
}

.form__wrapper:not(:last-child) {
  margin-block-end: 1.5rem;
}

.form__input {
  display: block;
  border: 0;
  border-block-end: 0.0625rem solid hsla(227deg, 14%, 52%, 0.5);
  padding-inline-start: 1rem;
  padding-inline-end: 2.8125rem;
  padding-block-end: 1rem;
  width: 100%;
}
.form__input:focus-visible,
.form__input:focus {
  outline: 0.1875rem dotted var(--primary-color-200);
  outline-offset: 0.3125rem;
}

.form__input.is-invalid {
  border-block-end-color: var(--error-color);
  background-image: url("../svg/icon-cross.svg");
  background-position: top 0.25rem right 1.25rem;
  background-repeat: no-repeat;
  color: var(--error-color);
}

.form__input--select {
  cursor: pointer;
  font-weight: 700;
}

.form__select {
  position: relative;
}

.form__select::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 1rem;
  transform: translate(0, -150%) rotate(45deg);
  border-right: 0.125rem solid var(--primary-color-200);
  border-bottom: 0.125rem solid var(--primary-color-200);
  width: 0.75rem;
  height: 0.75rem;
  pointer-events: none;
  content: "";
}

.form__button:focus-visible,
.form__button:focus {
  outline: 0.1875rem dotted var(--primary-color-200);
  outline-offset: 0.3125rem;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper--sign-up {
  margin-inline: auto;
  max-width: 90rem;
}

.wrapper::after {
  position: absolute;
  z-index: -1;
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
}

.wrapper--top::after {
  top: clamp(-26.19rem, -4.55rem - 30.37vw, -10.62rem);
  left: clamp(-2.62rem, -19.65rem + 85.12vw, 41rem);
  background-image: url("../svg/bg-pattern-header.svg");
  width: clamp(28.63rem, 7.07rem + 91.97vw, 70.88rem);
  height: clamp(28.63rem, 7.07rem + 91.97vw, 70.88rem);
}

.wrapper--bottom::after {
  bottom: clamp(-51.19rem, -18.81rem - 46.67vw, -29.75rem);
  left: clamp(-43.87rem, -16.12rem - 40vw, -25.5rem);
  z-index: 1;
  background-image: url("../svg/bg-pattern-footer.svg");
  width: clamp(75.13rem, 48.53rem + 113.47vw, 127.25rem);
  height: clamp(75.13rem, 48.53rem + 113.47vw, 127.25rem);
}

.wrapper--sign-up::after {
  display: block;
  top: 75%;
  background-image: url("../svg/bg-pattern-side.svg");
  background-position: center;
  background-size: clamp(90.15rem, 44.34rem + 195.44vw, 179.93rem);
  background-repeat: no-repeat;
  background-color: var(--primary-color-500);
  width: 100%;
  height: 100%;
  content: "";
}
@media screen and (min-width: 69.375em) {
  .wrapper--sign-up::after {
    top: 0;
    left: 75%;
    background-position: top -66.8125rem left -79.9375rem;
  }
}

.container {
  margin-inline: auto;
  width: var(--container-width);
}

.header {
  padding-block-start: var(--padding-header-small);
  padding-block-end: var(--padding-header-medium);
}

.header .container {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 48em) {
  .header .container {
    justify-content: flex-start;
  }
}

.header__home:focus-visible,
.header__home:focus {
  outline: 0.1875rem dotted var(--primary-color-200);
  outline-offset: 0.3125rem;
}

.hero {
  text-align: center;
}
@media screen and (min-width: 48em) {
  .hero {
    text-align: left;
  }
}

@media screen and (min-width: 48em) {
  .hero .container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: clamp(3.13rem, -0.7rem + 9.57vw, 5.94rem);
  }
}

.hero__image {
  margin-inline: auto;
  margin-block-end: 4rem;
  width: clamp(10.9375rem, 35vw, 29.6875rem);
}
@media screen and (min-width: 48em) {
  .hero__image {
    margin-inline: 0;
    margin-block-end: 0;
  }
}

.hero__description {
  margin-block: 1.5rem;
}

.hero__button:focus-visible,
.hero__button:focus {
  outline: 0.1875rem dotted var(--primary-color-200);
  outline-offset: 0.3125rem;
}

.pricing {
  position: relative;
  padding-block: 6.25rem;
}

.pricing::after {
  display: block;
  position: absolute;
  top: 50%;
  z-index: -1;
  background-color: var(--primary-color-500);
  width: 100%;
  height: 50%;
  content: "";
}

.pricing .container {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
}
@media screen and (min-width: 69.375em) {
  .pricing .container {
    flex-direction: row;
    justify-content: center;
  }
}

/**
 * Make the elements have higher z-index
 * than the background image.
 */
.pricing .container > * {
  position: relative;
  z-index: 2;
}

.pricing__card {
  box-shadow: 0 3.125rem 3.125rem -1.5625rem rgba(75, 92, 154, 0.25);
  border-radius: 0.8125rem;
  padding: var(--padding-card);
  text-align: center;
}
@media screen and (min-width: 40em) {
  .pricing__card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30ch, 1fr));
    grid-template-areas: "text list" "button list";
    row-gap: 1.75rem;
    justify-content: space-evenly;
    text-align: left;
  }
}
@media screen and (min-width: 69.375em) {
  .pricing__card {
    display: block;
    text-align: center;
  }
}

.pricing__card--white {
  background-color: var(--white-100);
}

.pricing__card--white .pricing__container {
  color: var(--primary-color-400);
}

.pricing__card--white .pricing__title,
.pricing__card--white .pricing__price,
.pricing__card--white .pricing__details {
  color: inherit;
}

.pricing__card--white .pricing__button:focus-visible,
.pricing__card--white .pricing__button:focus {
  outline: 0.1875rem dotted var(--primary-color-200);
  outline-offset: 0.3125rem;
}

.pricing__card--blue {
  background-image: url("../svg/bg-pattern-pricing.svg");
  background-position: top -23.6875rem center;
  background-size: 55rem;
  background-repeat: no-repeat;
  background-color: var(--primary-color-200);
  color: var(--white-100);
}

.pricing__card--blue .pricing__container {
  color: inherit;
}

.pricing__card--blue .pricing__title,
.pricing__card--blue .pricing__price,
.pricing__card--blue .pricing__details {
  color: inherit;
}

.pricing__card--blue .pricing__button:focus-visible,
.pricing__card--blue .pricing__button:focus {
  outline: 0.1875rem dotted var(--white-100);
  outline-offset: 0.3125rem;
}

@media screen and (min-width: 40em) {
  .pricing__container {
    grid-area: text;
  }
}

.pricing__title {
  margin-block-end: 2.5rem;
  font-size: 1.25rem;
}
@media screen and (min-width: 40em) {
  .pricing__title {
    margin-block-end: 1rem;
  }
}

.pricing__price {
  margin-block-end: 0.5rem;
  font-weight: 700;
  font-size: 3.5rem;
}

.pricing__benefits {
  margin-block-start: 3.5rem;
  margin-block-end: 2rem;
}
@media screen and (min-width: 40em) {
  .pricing__benefits {
    grid-area: list;
  }
}

.pricing__item:not(:last-child) {
  margin-block-end: 1rem;
}

@media screen and (min-width: 40em) {
  .pricing__button {
    grid-area: button;
    width: fit-content;
  }
}

.coming-soon {
  background-color: var(--primary-color-500);
  padding-block-end: 6.25rem;
  color: var(--white-100);
  text-align: center;
}
@media screen and (min-width: 69.375em) {
  .coming-soon {
    text-align: left;
  }
}

@media screen and (min-width: 69.375em) {
  .coming-soon .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

/**
 * Make the elements have higher z-index
 * than the background image.
 */
.coming-soon .container > * {
  position: relative;
  z-index: 2;
}

.coming-soon__button {
  margin-block-start: 3rem;
}
.coming-soon__button:focus-visible,
.coming-soon__button:focus {
  outline: 0.1875rem dotted var(--white-100);
  outline-offset: 0.3125rem;
}
@media screen and (min-width: 69.375em) {
  .coming-soon__button {
    margin-block-start: 0;
  }
}

.sign-up {
  padding-block-end: 5.625rem;
}

.sign-up .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: clamp(4.06rem, 2.15rem + 8.16vw, 7.81rem);
  max-width: 43.75rem;
}
@media screen and (min-width: 69.375em) {
  .sign-up .container {
    flex-direction: row;
    justify-content: space-between;
    max-width: initial;
  }
}

@media screen and (min-width: 69.375em) {
  .sign-up .timer__container {
    justify-content: flex-start;
  }
}

.sign-up__text {
  text-align: center;
}
@media screen and (min-width: 69.375em) {
  .sign-up__text {
    text-align: left;
  }
}

.sign-up__description {
  margin-block-start: clamp(1rem, 0.74rem + 1.09vw, 1.5rem);
  margin-block-end: 3.125rem;
}

.attribution {
  padding-block: 2.5rem;
}

.attribution--center {
  text-align: center;
}

.attribution--dark {
  background-color: var(--primary-color-500);
  color: var(--white-100);
}

.attribution--sign-up {
  background-color: var(--primary-color-500);
  color: var(--white-100);
  text-align: center;
}
@media screen and (min-width: 69.375em) {
  .attribution--sign-up {
    background-color: transparent;
    color: var(--primary-color-500);
    text-align: left;
  }
}

.attribution--dark .attribution__link {
  color: inherit;
}
.attribution--dark .attribution__link:focus-visible,
.attribution--dark .attribution__link:focus {
  outline: 0.1875rem dotted var(--white-100);
  outline-offset: 0.3125rem;
}
.attribution--dark .attribution__link:hover,
.attribution--dark .attribution__link:active {
  text-decoration: none;
}

.attribution--sign-up .attribution__link {
  color: inherit;
}
.attribution--sign-up .attribution__link:focus-visible,
.attribution--sign-up .attribution__link:focus {
  outline: 0.1875rem dotted var(--white-100);
  outline-offset: 0.3125rem;
}
.attribution--sign-up .attribution__link:hover,
.attribution--sign-up .attribution__link:active {
  text-decoration: none;
}
@media screen and (min-width: 69.375em) {
  .attribution--sign-up .attribution__link:focus-visible,
  .attribution--sign-up .attribution__link:focus {
    outline: 0.1875rem dotted var(--primary-color-500);
    outline-offset: 0.3125rem;
  }
}
