@use "../abstracts" as *;

.hero {
  text-align: center;

  @include breakpoint-up("very-small") {
    text-align: left;
  }
}

.hero .container {
  @include breakpoint-up("very-small") {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: clamp(3.13rem, -0.7rem + 9.57vw, 5.94rem);
  }
}

.hero__image {
  margin-inline: auto;
  margin-block-end: rem(64);
  width: clamp(rem(175), 35vw, rem(475));

  @include breakpoint-up("very-small") {
    margin-inline: 0;
    margin-block-end: 0;
  }
}

.hero__description {
  margin-block: rem(24);
}

.hero__button {
  @include focus-visible(var(--primary-color-200));
}
