@use "../abstracts" as *;

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper::after {
  position: absolute;
  z-index: -1;
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
}

.wrapper--top::after {
  top: clamp(-26.19rem, calc(-4.55rem + -30.37vw), -10.62rem);
  left: clamp(-2.62rem, calc(-19.65rem + 85.12vw), 41rem);
  background-image: url("../svg/bg-pattern-header.svg");
  width: clamp(28.63rem, calc(7.07rem + 91.97vw), 70.88rem);
  height: clamp(28.63rem, calc(7.07rem + 91.97vw), 70.88rem);
}

.wrapper--bottom::after {
  bottom: clamp(-51.19rem, calc(-18.81rem + -46.67vw), -29.75rem);
  left: clamp(-43.87rem, calc(-16.12rem + -40vw), -25.5rem);
  z-index: 1;
  background-image: url("../svg/bg-pattern-footer.svg");
  width: clamp(75.13rem, calc(48.53rem + 113.47vw), 127.25rem);
  height: clamp(75.13rem, calc(48.53rem + 113.47vw), 127.25rem);
}
